# Ignore everything by default
*

# Allow files in the root directory (e.g., main.py, config.yaml)
!*.py
!*.yaml
!*.md

# Don't ignore these specific subdirectories and their contents
!ppo/
!ppo/**

!common/
!common/**

!q_learning/
!q_learning/**
